body {
    background: #2b2b41;
    overflow: hidden;
}

#Logo {
    width: 27em;
}

#Button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 6px;
    border: none;
    margin-top: 45px;
    padding: 16px 32px;
    color: #FFFBCE;
    background: #7575d9;
    transition: all 200ms;
}

#Button:hover {
    background: #5757da;
}

#Text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    color: #FFFBCE;
}

#Link {
    color: #FFFBCE;
}

.Center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.Meteor {
    position: absolute;
}
